.a {
				color:#ffffff;
				border: 1px solid #e00000;
				background:#e00000;
				font-size:30px;
}
.b {
				color:#ffffff;
				border: 1px solid #e07b00;
				background:#e07b00;
				font-size:30px;
}
.c {
				color:#ffffff;
				border: 1px solid #e0c600;
				background:#e0c600;
				font-size:30px;
}
.d {
				color:#ffffff;
				border: 1px solid #7be000;
				background:#7be000;
				font-size:30px;
}
.e {
				color:#ffffff;
				border: 1px solid #00ace0;
				background:#00ace0;
				font-size:30px;
}
.f {
				color:#ffffff;
				border: 1px solid #0029e0;
				background:#0029e0;
				font-size:30px;
}
.g {
				color:#ffffff;
				border: 1px solid #7b00e0;
				background:#7b00e0;
				font-size:30px;
}
